@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  color: #383838;
  background-color: rgba(61, 61, 200, 0.1);
}

header {
  width: 100%;
  z-index: 1;
  padding: 16px 0;
  background-color: rgba(61, 61, 200, 0.25);
  background:  linear-gradient(rgba(175, 25, 32, 0.55),rgba(175, 25, 32, 0.65));
  box-shadow: 0 0 16px rgba(56, 56, 56, 0.35);
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  font-size: 3em;
  font-weight: 900;
  color: white
}

main {
  margin: 0 auto 24px;
  padding: 24px 24px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  min-height: 76vh;
  max-width: 1350px;
}

.smallCard {
  margin: 0 auto;
  width: 100%;
  max-width: 240px;
}

.smallCard img  {
  box-shadow: 0 0 8px rgba(56, 56, 56, 0.35);
}

.smallCard:hover img {
  transform-origin: center;
  transition: 0.15s ease-in-out all;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px 2px rgba(56, 56, 56, 0.25);
}

.card:nth-of-type(4n + 0),
.card:nth-of-type(4n + 1) {
  background-color: rgba(56, 56, 56, 0.05);
}

.cardAttacks {
  height: 75%;
}

.singleAttack {
  margin-top: 1em;
  border-bottom: 0.1em solid rgba(56, 56, 56, 0.35);
  padding: 16px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  row-gap: 16px;
}

.attackDescription {
  grid-column: span 3;
  width: 100%;
}

input[type='text']{
  font-family: monospace;
  border: none;
  color: rgba(56, 56, 56, 0.65);
  outline: none;
  font-weight: 700;
  transition: 0.15s linear all;
  border-bottom: 0em solid rgba(56, 56, 56, 0.35);
  border-radius: 4px;
  padding-left: 8px;
  min-width: 250px;
}

input:focus {
  transition: 0.15s linear all;
  outline: normal;  
  box-shadow: 0 0 8px rgba(56, 56, 56, 0.35);
}

input::placeholder {
  border: none;
  color: rgba(56, 56, 56, 0.45);
  outline: none;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  background-color: rgba(175, 25, 32, 0.85);
  font-weight: 700;
}

label {
  padding: 8px;
  margin: 0 8px;
  color: white;
  border-radius: 4px;
  border: 2px solid rgba(175, 25, 32, 0.85);
  cursor: pointer;
  transition: background-color 0.15s linear;
  min-width: 125px;
  text-align: center;
}

main h2 {
  width: 100%;
}


main .left img {
  width: 100%;
  border-radius: 8px;
}

main .smallCard .previewImage {
  transition: 0.05s ease-in-out all;
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

main .smallCard:hover .previewImage {
  transform-origin: center;
  transition: 0.15s ease-in-out all;
}

.card {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(56, 56, 56, 0.35);
  border: 1px solid rgba(56, 56, 56, 0.40);
  cursor: default;
  max-width: 1000px;
}

.half {
  padding: 16px;
  margin: 0 auto;
}

.right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.ability {
  color: darkred;
  font-weight: 900;
}

.cardDetails,
.detailsHp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardDetails > *:last-child {
  width: 100%;
}

.detailsHp h3::before {
  content: 'HP';
  font-size: 0.5em;
  margin-right: 0.5em;
}

.detailsHp h3 {
  margin-right: 8px;
}

.cardDetails em {
  font-size: 14px;
}


.back {
  width: 100%;
  grid-column:span 2;
}

.back button {
  font-family: 'Lato';
  font-size: 1.2em;
  width: 100%;
  margin: auto;
  border: none;
  color: white;
  background-color: rgba(56, 56, 56, 0.35);
  line-height: 2em;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.15s linear;
}

.back button:hover {
  background-color: rgba(56, 56, 56, 0.65);
}

.cardFooter {
  color: rgba(56, 56, 56, 0.6);
  font-stretch: extra-condensed;
  justify-self: flex-end;
  font-size: 0.9rem;
}

.cardFooter > *,
.cardArtist > * {
  font-size: 0.9rem;
  display: inline-block;
}

.setImage {
  width: 25px;
  padding: 0;
  margin: 0;
  display: inline-block;
  transform: translateY(5px);
}

/* Footer */

footer {
  background-color: rgba(56, 56, 56, 0.15);
  color:  rgba(56, 56, 56, 1);
  display: flex;
  font-size: 14px;
  font-family: monospace;
}

footer p {
  padding: 8px 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}

footer a, footer a:link {
  color:  rgba(36, 36, 36, 1);
}

footer svg:hover,
footer a:hover {
  color: rgba(175, 25, 32, 1); 
  fill: rgba(175, 25, 32, 1);
}

/* SPRITES  */
.energy {
  background-image: url('https://pokemontcg.io/static/media/energy-types.f0fdba3b.png');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 0.2em;
}

.fire {
  background-position: 0 0;
}

.colorless {
  background-position: -25px 0;
}

.lightning {
  background-position: -25px -25px;
}

.fighting {
  background-position: -50px -25px;
}

.fairy {
  background-position: -50px 0;
}

.metal {
  background-position: -75px 0;
}

.dragon {
  background-position: 0 -25px;
}

.psychic {
  background-position: -75px -25px;
}

.dragon {
  background-position: 0 -25px;
}

.darkness {
  background-position: 0 -50px;
}

.grass {
  background-position: -25px -50px;
}

.water {
  background-position: -75px -50px;
}

.water {
  background-position: -75px -50px;
}

.damage {
  color: rgba(56, 56, 56, 1);
  font-weight: 800;
  font-stretch: ultra-expanded;
}

/* Loader styles  */

.lds-dual-ring {
  margin-top: 10em;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgba(56, 56, 56, 1);
  border-color: rgba(56, 56, 56, 1) transparent rgba(56, 56, 56, 1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* Loader keyframe */

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}