* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
}

body {
  font-family: 'Arial';
  color: #BADA55;
  background-color: white;
  padding: 1%;
}

h1 {
  font-size: 3em;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: auto;
  width: 50%;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
  /* border: .1em lightgrey solid; */
  justify-content: space-between;
}

.singleAttack {
  margin-top: 1.1em;
  border-top: .1em #BADA55 solid;
  padding: .5em 0;
}

input[type="text"], input:focus {
  font-family: arial;
  font-size: 2em;
  line-height: 2em;
  border: none;
  color: #BADA55;
  outline: none;
  font-weight: 600;
  padding: .2em;
  transition: .15s linear all;
  border-bottom: 0em solid #BADA55;
  width: auto;
}

input:focus {
  transition: .15s linear all;
  border-bottom: .1em solid #BADA55;

}

input::placeholder {
  border: none;
  color: #BADA55;
  outline: none;
}


main h2 {
  width: 100%;
}

main .left {
  width: auto;
  max-width: 50%;
}

 main .right {
   width: 45%;
 }

.half {
  width: 50%;
}

.left .previewImage {
  width: 100%;
  padding: 0 1em 1em 0;
  overflow:hidden;
}

.energy {
  background-image: url('https://pokemontcg.io/assets/images/energy-types-f0fdba3b2e216b418fbedace0c050f36.png');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: .2em;
}

.fire {
  background-position: 0 0;
}

.colorless {
  background-position: -25px 0;
}

.lightning {
  background-position: -25px -25px;
}

.fighting {
  background-position: -50px -25px;
}

.fairy {
  background-position: -50px 0;
}

.metal {
  background-position: -75px 0;
}

.dragon {
  background-position: 0 -25px;
}

.psychic {
  background-position: -75px -25px;
}

.dragon {
  background-position: 0 -25px;
}

.darkness {
  background-position: 0 -50px;
}

.grass {
  background-position: -25px -50px;
}

.water {
  background-position: -75px -50px;
}

.water {
  background-position: -75px -50px;
}

.damage {
  color: #343434;
}
